.header {
    background-color: #000;
    color: #fff;
    padding: 8px;
    text-align: center;
}


.header li {
    display: inline-block;
    margin: 0 10px;
}

.root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
    display: flex;
}
